
<div class="container">

    <div class="border rounded p-3">
    
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
            
            <li [ngbNavItem]="1">
                <a ngbNavLink>1</a>
                <ng-template ngbNavContent >
                    <app-project-description
                        (checkChange) = "checkValidationFirstTab()"
                        [isTitleValid]= "isTitleValid"
                        [isDescriptionValid]= "isDescriptionValid"
                        >
                    </app-project-description>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>2</a>
                <ng-template ngbNavContent>
                    <div class="col-10 mx-auto d-flex justify-content-between">
                        <div>
                            <p class="mb-0">Published</p>
                            <app-date-picker 
                                (sendProjectDate)="sendDate('publishedDate',$event)"
                                [showDate] = "dateMsToDate(this.newProject.publishedDate)"
                                >
                            </app-date-picker>
                        </div>
                        <div>
                            <p class="mb-0">Deadline</p>
                            <app-date-picker
                                (sendProjectDate)="sendDate('deadLine',$event)"
                                [showDate] = "dateMsToDate(this.newProject.deadLine)"
                                >
                            </app-date-picker>
                        </div>
                        <div>
                            <div class="input-group mt-3">
                                <input 
                                    type="number" 
                                    class="form-control"
                                    [(ngModel)]="newProject.bid"
                                    #bidValue>
                                <button 
                                    class="input-group-text btn-secondary"
                                    (click)="changeProjectProperty('bid', bidValue.value)">
                                    Bid in Euros
                            </button>
                            </div>
                        </div>
                    </div>
                    
                    <app-techset></app-techset>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>3</a>
                <ng-template ngbNavContent>
                    <app-drag-drop></app-drag-drop>
                </ng-template>
            </li>
        </ul>
       
        <div [ngbNavOutlet]="nav" class="mt-2"></div>

        <div class="d-flex justify-content-between p-2">
            <button 
                [disabled]=!isValidFirstTab
                class="ml-auto btn btn-light"
                *ngIf="activeTab==1"
                (click)="moveTab('next')"
                >
                <i class="bi bi-arrow-right" style="font-size: 1.5rem;"></i>
            </button>
            <button 
                [disabled]=false
                class="mr-auto btn btn-light"
                (click)="moveTab('prev')"
                *ngIf="activeTab==2 || activeTab==3">
                <i class="bi bi-arrow-left" style="font-size: 1.5rem;"></i>
            </button>
            <button
                [disabled]=false
                class="ml-auto btn btn-light"
                (click)="moveTab('next')"
                *ngIf="activeTab==2">
                <i class="bi bi-arrow-right" style="font-size: 1.5rem;"></i>
            </button>
            <button
                [disabled]=false
                *ngIf="activeTab==3" 
                type="button" 
                class="btn btn-secondary px-5"
                (click)="createProject()">
                Publish
            </button>
        </div>
    </div>

</div>
