
<div class="container">

    <div class="border rounded p-3">
    
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>1</a>
                <ng-template ngbNavContent>
                    <app-project-description 
                        (sendProjectDescription)="setNewProjectDescription($event)">
                    </app-project-description>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>2</a>
                <ng-template ngbNavContent>
                    <div class="col-10 mx-auto d-flex justify-content-between">
                        <div>
                            <p class="mb-0">Published</p>
                            <app-date-picker 
                                (sendProjectDate)="setNewProjectPublishedDate($event)">
                            </app-date-picker>
                        </div>
                        <div>
                            <p class="mb-0">Deadline</p>
                            <app-date-picker
                                (sendProjectDate)="setNewProjectDeadlineDate($event)">
                            </app-date-picker>
                        </div>
                        <div>
                            <div class="input-group mt-3">
                                <input 
                                    type="number" 
                                    class="form-control"
                                    [(value)]="projectBid"
                                    (keyup)="newProject.bid=$event.target.value">
                                <span 
                                    class="input-group-text">
                                    Bid in Euros
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <app-techset (sendTechSet)="setNewTechSet($event)"></app-techset>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>3</a>
                <ng-template ngbNavContent>
                    <app-drag-drop></app-drag-drop>
                </ng-template>
            </li>
        </ul>
       
        <div [ngbNavOutlet]="nav" class="mt-2"></div>

        <div class="d-flex justify-content-between p-2">
            <i 
                (click)="moveTab('next')"
                *ngIf="active==1"
                class="bi bi-arrow-right ml-auto" 
                style="font-size: 2rem;">
            </i>
            <i 
                (click)="moveTab('prev')"
                *ngIf="active==2 || active==3"
                class="bi bi-arrow-left mr-auto" 
                style="font-size: 2rem;">
            </i>
            <i 
                (click)="moveTab('next')"
                *ngIf="active==2"
                class="bi bi-arrow-right ml-auto" 
                style="font-size: 2rem;">
            </i>
            <button 
                *ngIf="active==3" 
                type="button" 
                class="btn btn-secondary px-5">
                Publish
            </button>
        </div>
    </div>

</div>
