 

    <th><input type="text" class="form-control" [(ngModel)]="project.title" /></th>  
    
    <td contenteditable>{{ project.publishedDate }}</td>
    <td contenteditable>{{ project.deadlineDate }}</td>
    <td contenteditable>{{ project.bid }}</td>
    <td contenteditable>{{ project.state }}</td>
    <td>
      <button type="button" (click)="editProject()"><i class="bi bi-pencil-fill"></i></button>
      <button type="button" (click)="deleteProject()"><i class="bi bi-trash-fill"></i></button>
   </td>

   


   <!-- 
    <td [(ngModel)]="project.publishedDate" name="publishedDate" class="form-control"></td>
    
    <td [(ngModel)]="project.deadlineDate" name="deadlineDate" class="form-control"></td>
    
    <td [(ngModel)]="project.bid" name="bid" class="form-control"></td>
    
    <td [(ngModel)]=" project.state" name="state" class="form-control"></td>
    -->


