 
 <form id="updateUserForm" autocomplete='off' [formGroup]='updateProjectForm' class="m-2"> 
    <th>
      <input 
        type="text" 
        class="form-control" 
        formControlName="title"
        [(ngModel)]="project.title"/>
    </th> 

    <td>
      <input 
        type="text" 
        class="form-control" 
        formControlName="publishedDate"
        [(ngModel)]="project.publishedDate"/>
    </td> 

    <td>
      <input 
        type="text" 
        class="form-control" 
        formControlName="deadlineDate"
        [(ngModel)]="project.deadlineDate"/>
    </td> 

    <td>
      <input 
        type="text" 
        class="form-control" 
        formControlName="bid"
        [(ngModel)]="project.bid"/>
    </td> 

    <td>
      <input 
        type="text" 
        class="form-control" 
        formControlName="state"
        [(ngModel)]="project.state"/>
    </td> 

    <td>
      <button type="button" (click)="editProject()"><i class="bi bi-pencil-fill"></i></button>
      <button type="button" (click)="deleteProject()"><i class="bi bi-trash-fill"></i></button>
    </td>

    </form>

 