
<div class="form-group mt-5 col-10 mx-auto">
    <div class="input-group mb-4" >
        <div class="input-group-prepend">
            <span 
                class="input-group-text"
                
                >Project Title</span>
        </div>
        <input 
            type="text" 
            class="form-control" 
            (keyup)="changeProjectProperty('title', $event.target.value)"
            value="{{newProject.title}}">
    </div>
    
    <textarea 
        class="col-12" 
        rows="5"
        (keyup)="changeProjectProperty('shortExplanation', $event.target.value)"
        value="{{newProject.shortExplanation ? newProject.shortExplanation :''}}"
        placeholder="Project Description, 500 characters" 
    ></textarea>

</div>