<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. PROVA" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <!--<ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.projectId}} </td>
    </ng-container>  -->

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.title}} </td>
    </ng-container>

    <!-- Published date Column -->
    <ng-container matColumnDef="publishedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Published </th>
      <td mat-cell *matCellDef="let row"> {{row.publishedDate | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Deadline date Column -->
    <ng-container matColumnDef="deadlineDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadline </th>
      <td mat-cell *matCellDef="let row"> {{row.deadline | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Bid Column -->
    <ng-container matColumnDef="bid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bid </th>
      <td mat-cell *matCellDef="let row"> {{row.bid}} </td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
      <td mat-cell *matCellDef="let row"> {{row.state}} </td>
    </ng-container>

    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<!--
<ul>
  <li>an observable async service to fetch a list of countries</li>
  <li>sorting, filtering and pagination</li>
  <li>simulated delay and loading indicator</li>
  <li>debouncing of search requests</li>
</ul>

<form>
  <div class="form-group form-inline">
      Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-striped">
    <thead>
    
    </thead>
    <tbody>
    <tr *ngFor="let country of countries$ | async">
      <th scope="row">{{ country.id }}</th>
      <td>
        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
        <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="country.population | number" [term]="service.searchTerm"></ngb-highlight></td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>

</form>  -->
