<div class="container p-3">
  <h1>ALTA USUARI</h1>

  <div class="form-group">
    <label for="exampleInputEmail1">Nom</label>
    <input
      [(ngModel)]="name"
      type="text"
      class="form-control"
      id="name"
      aria-describedby="emailHelp"
      placeholder="Nom"
    />
    <p *ngIf="showName" id="nameHelp" class="text-danger">
      El nom ha de tenir entre 2 i 70 caracters
    </p>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      [(ngModel)]="email"
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      placeholder="Email"
    />
    <p *ngIf="showEmail" id="emailHelp" class="text-danger">
      Ha de ser un email correcte
    </p>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      [(ngModel)]="password"
      type="password"
      class="form-control"
      id="password"
      placeholder="Contrasenya"
    />
    <p *ngIf="showPassword" id="passwordHelp" class="text-danger">
      La contrasenya ha de tenir entre 5 y 10 caràcters i al menys un símbol
    </p>
  </div>
  <div class="form-group">
    <select
      class="form-select"
      aria-label="Tipus d'organització"
      [(ngModel)]="typeOfInstitution"
    >
      <option selected>Seleccioni tipus d'organització / empresa</option>
      <option value="1">Empresa pública</option>
      <option value="3">Empresa privada</option>
      <option value="2">3 er sector</option>
      <option value="4">Altres</option>
    </select>
    <p *ngIf="showTypeOfInstitution" id="typeOfInstHelp" class="text-danger">
      Ha de seleccionar un tipus d'organització
    </p>
  </div>

  <a>Login</a>
  <button [disabled]="!isAllOk" (click)="register()">CREAR</button>
</div>
