
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>My Data</a>
      <ng-template ngbNavContent>        
        
          <!--FORMULARIO-->   
          <form > 
              <div class="form-group">
                <input type="text"  name="userName" [(ngModel)]="currentUser.name">       
              </div>
              <div class="form-group">
                <input type="email"  name="email" [(ngModel)]="currentUser.email">            
              </div>
              <div class="form-group">
                <input type="text"  name="password" >
              </div>
              <div class="form-group">
                <input type="text" name="organizationType" [(ngModel)]="currentUser.typeOfInstitution">            
              </div>
              <button type="button" class="btn btn-secondary px-5"
                (click)="modifyUser()">
                LAPIZ
            </button>
          </form>

      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>My Projects</a>
      <ng-template ngbNavContent>
        
        <!--TABLA-->                  
        <table>
          <thead>
            <tr>
              <th>TITLE</th>
              <th>PUBLISHED</th>
              <th>DEADLINE</th>
              <th>BID</th>
              <th>STATE</th>    
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody *ngFor="let project of projects">
      
              <app-project-line [project]="project"></app-project-line>             

          </tbody>
      </table>

      </ng-template>
    </li>
  </ul>
  
  <!--<div [ngbNavOutlet]="nav" class="mt-2"></div>-->





    


  

  