
<div class="row">    
    <div class="col-12 col-md-4 col-lg-3">
        <app-project-card></app-project-card>
    </div>
    <div class="col-12 col-md-4 col-lg-3"><app-project-card></app-project-card></div>
    <div class="col-12 col-md-4 col-lg-3"><app-project-card></app-project-card></div>
    <div class="col-12 col-md-4 col-lg-3"><app-project-card></app-project-card></div>
    <div class="col-12 col-md-4 col-lg-3"><app-project-card></app-project-card></div>
    <div class="col-12 col-md-4 col-lg-3"><app-project-card></app-project-card></div>
  </div>