
<div class="d-flex justify-content-between">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary px-5">Admin</button>
        <button type="button" class="btn btn-secondary px-5">Projects</button>
    </div>

    <div ngbDropdown>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">CREATE PROJECT</button>
                <button 
                    type="button" 
                    class="btn btn-secondary dropdown-toggle"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                    >...</button>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <li><a ngbDropdownItem>Option 1</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem>Option 2</a></li>
                    <li><a class="dropdown-item" ngbDropdownItem>Option 3</a></li>
                </ul>
        </div>
    </div>

    <button type="button" class="btn btn-secondary">My Name</button>
</div>