<div class="d-flex justify-content-between my-5">
  <div class="btn-group" role="group">
    <button
      type="button"
      class="btn btn-primary px-5"
      [routerLink]="['admin']"
      *ngIf="(userObservable$ | async)?.admin">
      Admin
    </button>
    <button
      type="button"
      class="btn btn-secondary px-5"
      [routerLink]="['projects']">
      Projects
    </button>
  </div>
  <div ngbDropdown><!--POR QUÉ ES DROPDOWN?-->
    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-primary"
        [routerLink]="['crear-projecte']">
        CREATE PROJECT
      </button>
    </div>
  </div>

  <div class="btn-group">
    <button
        type="button"
        class="btn btn-primary"
        [routerLink]="['el-meu-compte']"
        *ngIf="userObservable$ | async">
      <!--Esta pipe lo que hace es suscribirse a un Observable y 
        devolver el último valor emitido, en este caso el usuario y su nombre. 
        Además, cuando el componente se destruye, la pipe cancela la suscripción por ti.-->
        {{ (userObservable$ | async)?.name }}
    </button>

    <button
        type="button"
        class="btn btn-secondary"
        [routerLink]="['login']"
        *ngIf="(userObservable$ | async); else logIn">
      Log Off
    </button>

    <ng-template #logIn>
      <button type="button" 
        class="btn btn-secondary" 
        [routerLink]="['login']">
          Log In
      </button>
    </ng-template>
  </div>
</div>
